*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.top{
    
  display:flex;
  justify-content: center;
    
}
.header{
    /* height:80px; */
    width:400px;
    background-color: white;
    border:7px solid red;
    box-shadow: 8px 10px 2px purple;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
}
.text{
    color:rgb(148, 30, 101);
    font-style: italic;
    text-transform: uppercase;
    text-shadow:2px 1px 4px purple ;
    font-weight: bold;
    font-size: 25px;
    padding:5px;
    margin-left: 20px;
}
hr{
    margin: 10px 0;
}
.main{
    height: 800px;
    border:8px solid green;
}

.adress{
    width:200px;
    display:inline-block;
    border:8px solid red;
    box-shadow: 8px 10px 2px purple;
    border-radius: 10px;
    background-color: aliceblue;
}
.text1{
    color:rgb(148, 30, 101);
    text-shadow:2px 1px 4px purple ;
    font-weight: bold;
    font-size:20px;
    padding: 10px ;
}
.img1{
    float:right;
    height:250px;
    width:200px;
    border:8px solid red;
    box-shadow: 8px 10px 2px purple;
    padding-top: 55px;
    border-radius: 10px;
    background-color: aliceblue;
}
img{
   height:80px;
    width:100%;
    align-items: center;
}
.feed{
    
    width:260px;
    border:7px solid red;
    box-shadow: 8px 10px 2px purple;
    margin-top:80px;
    border-radius: 10px;
    background-color: white;
}
.text2{
    color:purple;
    font-size:25px;
    text-shadow:2px 1px 4px rgb(96, 5, 96);
    font-weight:bold;
    text-transform: uppercase;
    
}
.upper,.low{
    padding:15px 20px;
    
}

.rate{
    
    width:250px;
    height:250px;
    margin-top:80px; 
    border:7px solid red;
    box-shadow: 8px 10px 2px purple;
    font-weight: bold;
    padding:10px;
    margin-right: 0;
    border-radius: 10px;
    background-color: white;
   
}
.con1{
   
    display:flex;
    width:100%;
    justify-content: space-between;
}
.text3{
    font-size:20px;
    color:purple;
    text-shadow: 2px 1px 5px purple;
    text-transform: uppercase;
    font-weight: bold;
    padding:10px 0;
}
.us{
    color:rgb(148, 30, 101);
    font-size: 16px;
    text-transform: uppercase;
    text-shadow:2px 1px 4px purple ;
    padding-top: 5px;
    font-weight: 500;
    
}
.sub{
    color:rgb(148, 30, 101);
    text-transform: uppercase;
    text-shadow:2px 1px 4px purple ;
    font-size:16px;
    font-weight: 500;
    padding-top: 5px;
}
.dv1{
    text-align: center;
    text-shadow:0.5px 0.2px purple ;
}
.but{
    text-align: center;
    margin-top: 10px;
}
.us{
    text-shadow:2px 1px 2px purple;
}
.sub{
    text-shadow:2px 1px 2px purple;
}
button{
    background-color: red;
    border-radius:10px;
    padding:0 5px;
}
.store{
    text-align: center;
    background-color: green;;
    width:850px;
    margin:40px;
    margin-left:270px;
    padding: 10px;
    border:7px solid purple;
   
}
.eat{
    display:flex;
}
.fruits{
   
    background-color: yellow;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}
h2{
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 20px;
}
.txt1{
    text-align: center;
    font-style:italic;
    margin:40px;
    line-height:30px;
    font-weight:bold;
}
.veges{
   
    background-color: yellow;
    text-align: center;
    font-style: italic;
    margin-left: 20px;
    padding-top:10px;
}
.txt2{
    text-align: center;
    font-style:italic;
    margin:40px;
    line-height:30px;
    font-weight:bold;
}
.others{
    background-color: yellow;
    font-style: italic;
    width:820px;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
}
.add{
    position:fixed;
    border:8px solid red;
    background-color: yellowgreen;
    top:500px;
    left:300px;
    border-radius: 15px;
    box-shadow: 7px 8px 3px purple;
    
}
.bottom{
    display:inline-block;
    margin:20px;
}